################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Programacion/Tetra1/CSharpProjects/Marina_Olvera/.vs
/Programacion/Tetra1/CSharpProjects/Marina_Olvera/bin/Debug/net8.0
/Programacion/Tetra1/CSharpProjects/Marina_Olvera/obj
/Programacion/Tetra3/CSharpProjects/Marina_Olvera/.vs
/Programacion/Tetra3/CSharpProjects/Marina_Olvera/bin
/Programacion/Tetra3/CSharpProjects/Marina_Olvera/obj
/Programacion/Tetra3/CSharpProjects/Marina_Olvera/estudiantes.json
/Programacion/Tetra1/PythonProjecs/Marina_Olvera
/Programacion/Tetra3/CSharpProjects/MarinaOlvera/.vs/MarinaOlvera
/Programacion/Tetra3/CSharpProjects/MarinaOlvera/bin/Debug/net8.0
/Programacion/Tetra3/CSharpProjects/MarinaOlvera/obj
/Programacion/Tetra3/CSharpProjects/MarinaOlvera/estudiantes.json
/Programacion/Tetra3/CSharpProjects/MarinaOlvera/.vs/ProjectEvaluation
